* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    opacity: 1;
    transition: opacity 1.5s ease-in;
}
/* body:hover {
    transition: opacity 1.0s ease-in;
    opacity: 1;
} */

header {
    background: linear-gradient(135deg, hsl(264 83% 97%) 0%, hsl(186 100% 95%) 50%, hsl(329 86% 95%) 100%);
    padding-top: 15px;
    padding-bottom: 33dvh;
    text-align: center;
    ;
}

header h1 {
    font-size: 110px;
    background-image: linear-gradient(to right, hsl(300, 93%, 55%), hsl(176, 100%, 50%), hsl(294, 54%, 50%));
    background-clip: text;
    color: transparent;
    margin-bottom: 70px;
}

header .typewriter {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 70px;
}

header .two {
    font-size: x-large;
    color: #73778C;
    margin-bottom: 100px;
}

header a {
    text-decoration: none;
    font-size: larger;
    padding: 26px 30px;
    color: white;
    background-image: linear-gradient(to right, hsl(275, 94%, 59%), hsla(300, 89%, 66%, 0.931));
    border-radius: 50px;
    transition: .4s ease-in-out;
}
header a:hover {
    transition: .4s ease-in-out;
    box-shadow: 0 5px 10px gray;
}


@media (max-width: 768px) {
    header {
        padding-top: 260px;
    }

    header h1 {
        font-size: 90px;
    }

    header .typewriter {
        font-size: 43px;
        font-weight: 200;
    }

    header .two {
        font-size: x-large;
    }

    header a {
        font-size: larger;
        padding: 30px 34px;

    }
}

@media (max-width: 480px) {
    header {
        padding-bottom: 39dvh;
    }

    header h1 {
        font-size: 62px;
    }

    header .typewriter {
        font-size: 28px;
    }

    header .two {
        display: block;
        padding: 0px 30px;
        font-size: larger;
    }

    header a {
        font-size: larger;
        padding: 30px 46px;
    }
}

#toTopBtn {
    text-decoration: none;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 99;
    font-size: 18px;
    border: none;
    color: white;
    padding: 17px 18px;
    margin-right: 30px;
    margin-bottom: 26px;
    border-radius: 100%;
    background-image: linear-gradient(to right, hsl(275, 94%, 59%), hsla(300, 89%, 66%, 0.931));
}
#toTopBtn:hover {
    transform: translateY(-3px);
    transition: .3s;
}

/* About section */
.about {
    margin-top: 150px;
    text-align: center;
    padding: 0px 200px;
}

.about h1 {
    font-size: 55px;
    margin-bottom: 50px;
}

.about p {
    font-size: x-large;
    color: #73778C;
}

@media (max-width: 768px) {
    .about {
        padding: 0px 50px;
    }

    .about h1 {
        font-size: 54px;
    }

    .about p {
        font-size: x-large;
    }
}

@media (max-width: 480px) {
    .about {
        padding: 0px 20px;
    }

    .about h1 {
        font-size: 30px;
    }

    .about p {
        font-size: larger;
    }
}

/* Service Section */
.service {
    margin-top: 150px;
    text-align: center;
    padding: 0px 200px;
}

.service h1 {
    font-size: 55px;
    margin-bottom: 50px;
}

.service .cards {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 110px;
    padding: 20px;
}

.service .card1 {
    border: 1px solid #73778c52;
    padding: 40px 19px;
    border-radius: 15px;
    text-align: left;
    scale: 1.2;
    transition: .4s ease-in-out;
}
.service .card1:hover {
    transform: translateY(-15px);
    transition: .4s ease-in-out;
}
.cardh2 {
    margin-top: 30px;
}

.cardp {
    margin-top: 20px;
    color: #73778C;
}

svg {
    scale: 1.4;
}

.svg1,
.svg2,
.svg3 {
    display: inline-block;
    /* background-color: blue; */
    border-radius: 50px;
    padding: 16px 18px;
}

.svg1 {
    background-color: #94575f1A;
    color: hsl(275, 94%, 59%);
}

.svg2 {
    background-color: #00E6fF1A;
    color: cyan;
}

.svg3 {
    background-color: #F471B51A;
    color: hsla(300, 99%, 64%, 0.931);
}


@media (max-width: 768px) {
    .service {
        padding: 0px 30px;
    }

    .service h1 {
        font-size: 54px;
    }

    .service .cards {
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .service {
        padding: 0px 20px;
    }

    .service h1 {
        font-size: 54px;
    }

    .service .cards {
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        padding: 30px;
    }

    .service .card1 {
        border: 1px solid #73778c52;
        padding: 20px 10px;
        border-radius: 15px;
        text-align: left;
        scale: 1;
    }
}

/* Contact Section */
.contact {
    margin-top: 150px;
    margin-bottom: 150px;
}

.contact h1 {
    font-size: 55px;
    margin-bottom: 50px;
    text-align: center;
}

.contact .p {
    text-align: center;
    font-size: x-large;
    color: #73778C;
    margin-bottom: 60px;
}

.contact form {
    margin-left: 350px;
}

form p {
    font-size: large;
}

form input {
    margin-top: -10px;
    height: 40px;
    width: 50vw;
    border-radius: 14px;
    border: 1.4px solid #73778c8a;
    padding-left: 10px;
}

.MAN {
    margin-top: 30px;
}

form textarea {
    width: 49vw;
    margin-top: 10px;
    border-radius: 14px;
    border: 1.4px solid #73778c8a;
    padding: 10px;
}

button {
    margin-top: 20px;
    width: 51vw;
    height: 50px;
    border-radius: 15px;
    color: white;
    font-size: larger;
    border: none;
    background-image: linear-gradient(to right, hsl(275, 94%, 59%), hsla(300, 89%, 66%, 0.931));
}
button:hover {
    transition: .4s ease-in-out;
    box-shadow: 0 5px 10px gray;
}
@media (max-width: 768px) {
    .contact h1 {
        font-size: 54px;
        margin-bottom: 50px;
        text-align: center;
    }

    .contact form {
        margin-left: 50px;
    }

    form input {
        margin-top: -10px;
        height: 40px;
        width: 84vw;
        border-radius: 14px;
        border: 1.4px solid #73778c8a;
        padding-left: 10px;
    }

    .MAN {
        margin-top: 30px;
    }

    form textarea {
        width: 83vw;
        margin-top: 10px;
        border-radius: 14px;
        border: 1.4px solid #73778c8a;
        padding: 10px;
    }

    button {
        margin-top: 20px;
        width: 85vw;
        height: 50px;
        border-radius: 15px;
        color: white;
        font-size: larger;
        border: none;
        background-image: linear-gradient(to right, hsl(275, 94%, 59%), hsla(300, 89%, 66%, 0.931));
    }
}

@media (max-width: 480px) {
    .contact .p {
        text-align: center;
        font-size: large;
        color: #73778C;
        margin-bottom: 60px;
    }
    .contact form {
        margin-left: 30px;
    }

}

/* Footer section */
footer {
    text-align: center;
    color: #73778C;
    margin-top: 10px;
    margin-bottom: 20px;
}
.line {
    width: 100%;
    height: 0.6px;
    background-color: grey;
    margin-bottom: 50px;
}

